@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300&display=swap');

body{
    background-image: url(./../images/breaking-news-banner-in-front-of-a-digital-globe-network-looped-video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:  100%;
    font-family: 'Oswald', sans-serif;
}

h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #d01729;

}

p{
    text-align: center;
}


input[type="file"]{
    display: none;
}

.errors {
    border: 4px solid red;
    border-radius: 5px;
}

.controls{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 60px;
}

#submit{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #d01729;
    border-style: none;
    color: white;
}
#submit:hover{
    background-color: red;
    color: white;
}
#cBox{
    margin-top: 5%;
    margin-left: 10.5%;
}
#singin_div{
    border-radius: 10px 10px 10px 10px;	
    width: 550px;
    height: 500px;
    margin: auto;
    border:solid;
    border-color: #445be7;
    background-color: #445be7;
    opacity: 0.8;
    }
#singup_div{
    border-radius: 10px 10px 10px 10px;	
    width: 550px;
    height: 1100px;
    margin: auto;
    border:solid;
    border-color: #445be7;
    background-color: #445be7;
    opacity: 0.8;
    }
#upload_label{
    display: flex;
    width: 250px;
    height: 60px;
    background-color: #d01729;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#upload_label:hover{
    background-color: red;
    color: white;
}
#message_div{
    font-size: 30px;
    text-align: center;
    
}
#singup_error{
    width: 550px; 
    text-align: center; 
    margin-left:auto; 
    margin-right:auto; 
    line-height:1.5rem; 
}
#singup_error>p{
    margin-top: 5px;
    margin-bottom: 5px;
}
#country{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 437px;
    height: 60px;
}
#date_of_birth{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 437px;
    height: 60px;
}
